.row {
  margin-top: -1rem;
  display: inline-flex;
  width: 103%;
  flex-direction: row;
}
.col {
  flex: 1;
}

.testimonial-img img {
  max-height: 110vh;
  min-width: 50vw;
  object-fit: cover;
  padding-right: 0;
}
.quote-icon {
  margin-top: 30%;
}
.testimonial-content {
  background-color: #f4e0ea;
  margin: 0;
}
.testimonial-content .quote {
  text-align: left;
  padding: 2rem;
  font-size: 1.4rem;
}
.testimonial-content img {
  width: 4rem;
}
.founder-text {
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin-top: -1.5rem;
  padding-left: 4rem;
}

@media (max-width: 900px) {
  .testimonial-img img {
    width: 100vw;
    max-height: 50vh;
  }
  .quote-icon {
    font-size: 20;
    margin: 0;
  }
  .quote-icon:nth-of-type() {
    display: none;
  }

  .testimonial-content {
    text-align: center;
  }
  .testimonial-content .quote {
    text-align: center;
  }
}
